body{
      background: Violet;
    }
    h1{
      color: yellow;
      
    }
    .inner-box0,.inner-box1{
        width: 100px;
        height: 100px;
        color: white;
        border: 1px solid #a29415;
        background: blue;
        margin-left:10px;
    }
    input{
      font-weight: bold;
      font-size: 20px;
      margin-left: 10px;
    }
    #save-move{
      background-color: hsl(0, 100%, 90%);

    }